<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="shortcut icon" href="./img/user.png" type="image/x-icon">
    <link rel="icon" href="./img/user.png" type="image/x-icon">  
    <title>SignIn</title>
    {{! css }}
    <link rel='stylesheet' href='./css/bootstrap.min.css' type='text/css' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'
    />
  </head>
  <body>
    {{> signinForm}}
  </body>
</html>