<header>
  <nav class='navbar navbar-light bg-primary'>
    <div class='container-fluid'>
      <a href='/' class='navbar-brand text-white'><h2>YourTasks</h2></a>
      <div class='d-flex align-content-end justify-content-center'>
        <a href='/account' class='d-flex text-white'>
          <p class='m-0 p-0'>{{user.username}}</p>
          <i class='bi bi-person fs-4 ms-1'></i>
        </a>
        <a href='/logout'>
          <i class='bi bi-box-arrow-right text-white fs-4 ms-3'></i>
        </a>
      </div>
    </div>
  </nav>
</header>