<div class='card m-auto mt-5 p-2' style='max-width: 500px'>
  <h2 class='text-center'>
    Sign Up
  </h2>
  <div class='card-body'>
    <form action='/signup' method='post'>
      <div class='input-group mb-4'>
        <i class='bi bi-envelope-fill input-group-text'></i>
        <input
          type='email'
          required='true'
          class='form-control'
          name='email'
          placeholder='example@mail.com'
          aria-label='Username'
          aria-describedby='basic-addon1'
        />
      </div>

      <div class='input-group mb-4'>
        <i class='bi bi-key-fill input-group-text'></i>
        <input
          type='password'
          required='true'
          class='form-control'
          name='password'
          placeholder='••••••••'
          aria-label='Username'
          aria-describedby='basic-addon1'
          id='pass'
        />
      </div>

      <div class='input-group'>
        <button type='submit' class='btn btn-primary m-auto'>create account</button>
      </div>
    </form>
  </div>
  <div class='card-footer text-center'>
    <span class='text-white'>I have a account </span>
    <a href='/signin'> signin</a>
  </div>
</div>