<div class='card m-auto mt-5 p-2' style='max-width: 500px'>
  <h2 class='text-center'>
    Sign In
  </h2>
  <div class='card-body'>
    <form action='/signin' method='post'>
      <div class='input-group mb-4'>
        <i class='bi bi-envelope-fill input-group-text'></i>
        <input
          type='email'
          required='true'
          class='form-control'
          name='email'
          placeholder='example@mail.com'
          aria-label='Username'
          aria-describedby='basic-addon1'
        />
      </div>

      <div class='input-group mb-4'>
        <i class='bi bi-key-fill input-group-text'></i>
        <input
          type='password'
          required='true'
          class='form-control'
          name='password'
          placeholder='••••••••'
          aria-label='Username'
          aria-describedby='basic-addon1'
        />
      </div>

      <div class='input-group'>
        <button
          type='submit'
          class='btn col-12 btn-primary m-auto'
        >Login</button>
      </div>

      <p class='text-muted text-center m-auto my-2'>or</p>

      <div class='row gap-2 px-2'>
        <a
          href='/oauth/redirect/facebook/login'
          class='btn btn-primary col-12 col-ms'
        ><i class='bi bi-facebook me-2'></i>
          Sign in with Facebook</a>

        <a
          href='/oauth2/redirect/google/login'
          class='btn btn-danger col-12 col-sm'
        ><i class='bi bi-google me-2'></i>
          Sign in with Google</a>
      </div>

    </form>
  </div>
  <div class='card-footer text-center'>
    <span class='text-white'>create a new account? </span>
    <a href='/signup'> signup</a>
  </div>
</div>